<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User Id</th>
        <th scope="col">Cart Type</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of carts">
        <th scope="row">{{cart.id}}</th>
        <td>{{cart.userName}}</td>
        <td>{{cart.cartType}}</td>

        
      </tr>
    </tbody>

  </table>