<div class="container">
    <div class="card-body">
        <br>
        <form>
            <div class="form-group row">
                <label for="user" class="col-form-label col-sm-2">INSERT USER NAME</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="userName" [(ngModel)]="cart.userName">
                </div>
            </div>
            <br>
        </form>
    </div>
    <br>
    <label for="date" class="col-form-label col-sm-2">SELECT DATE</label> <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2024-12-31" #datePicker/>
    <br>
    <br>
    <button role="button" (click)='create()'>CREATE CART</button>
</div>