<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Cost</th>
      <th scope="col">Cantidad Deseada</th>
      <th scope="col">Agregar</th>
      <th scope="col">Quitar</th>
      <th scope="col">Eliminar un producto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.cost }}</td>
      <td>{{ product.quantity}}</td>
      <td><button (click)="addToCart(product)">+</button></td>
      <td><button (click)="restToCart(product)">-</button></td>
      <td><button (click)="deleteProduct(product)">delete</button></td>
    </tr>
  </tbody>
</table>
<button (click)="getCartStatus()">Finish buying</button><button (click)="deleteCart()">Delete Cart</button>
<p>Estado del carrito: {{ cartStatus }}</p>