.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.botones-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-fab-button {
    // Estilos específicos para los botones mat-fab
    margin: 10px; // Puedes ajustar esto según tus necesidades
  }
}