<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User Name</th>
        <th scope="col">Spend Month</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.userName}}</td>
        <td>{{user.spendMonth}}</td>

        
      </tr>
    </tbody>

  </table>
